body {
  background-image: linear-gradient(black, rgb(46, 46, 46), rgb(17, 17, 17));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position-y: none;
}
.head {
  color: white;
  margin: 0px;
  text-align: center;
  padding-top: 7px;
}
.Body {
  width: 300px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 35%;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px white;
}
.display #screen,
#screen1 {
  width: 93%;
  height: 70px;
  margin: 9px 0px 0px 9px;
  background: rgb(105, 105, 105);
  border: 1px solid rgb(141, 136, 136);
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 3px 0px white; */
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  color: rgb(252, 245, 245);
  text-align: right;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.display #screen1 {
  margin-top: -30px;
  position: relative;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.display #screen {
  border-bottom: none;
  box-shadow: none;
  border-radius: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.display input {
  width: 93%;
  height: auto;
  position: relative;
}
.buttons {
  margin: 11px;
  width: 110%;
  height: 90%;
}
.buttons input {
  width: 15%;
  height: 10%;
  padding: 9px;
  margin: 8px;
  text-align: center;
  background-color: rgb(41, 40, 40);
  border: 1px solid rgb(141, 136, 136);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(110, 109, 109);
  color: white;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}
.buttons input:hover {
  background: lightgreen;
  color: black;
}
